.root {
  &[data-has-affix="true"] {
    align-items: center;
    display: flex;
    gap: 0.3rem;
  }

  .affix {
    display: flex;
    place-content: center;

    svg {
      max-width: var(--wp-classic-button-affix-size, 16px);
      height: auto;
      fill: currentColor;
    }
  }
}
