@use '../../styles/variables/colors';

.root {
  &[data-has-affix="true"] {
    align-items: center;
    display: flex;
    gap: 0.2rem;
  }

	&[data-level="danger"] {
    color: colors.$red-50;
  }

	&[data-level="warning"] {
    color: colors.$yellow-50;
  }

  .affix {
    display: flex;
    align-items: center;

    svg {
      max-width: var(--wp-classic-button-affix-size, 16px);
      height: auto;
      fill: currentColor;
    }
  }

	&:global(.button-small) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 14px);
			}
		}
	}

	&:global(.button-large) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 18px);
			}
		}
	}

	&:global(.button-hero) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 20px);
			}
		}
	}
}
