@use '../../styles/variables/colors';

.root {
  &.hasAffix {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .affix {
    display: flex;
    align-items: center;

    svg {
      max-width: var(--wp-classic-button-affix-size, 18px);
      height: auto;
      fill: currentcolor;
    }
  }

	&:global(.button-small) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 16px);
			}
		}
	}

	&:global(.button-large) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 20px);
			}
		}
	}

	&:global(.button-hero) {
		.affix {
			svg {
				max-width: var(--wp-classic-button-affix-size, 24px);
			}
		}
	}
}
