@use '../../scss/variables/colors';

:global(.wp-core-ui) {
	.root {
		.tabList {
			display: flex;
			gap: 0.5rem;
			border-bottom: 1px solid colors.$gray-10;
		}

		.tabItem {
			position: relative;
			top: 1px;
			padding: 5px 10px;
			font-size: 14px;
			font-weight: 600;
			line-height: 1.71;
			color: colors.$gray-60;
			background-color: colors.$gray-5;
			border: 1px solid colors.$gray-10;

			&:hover:not([data-disabled="true"], [data-selected="true"]) {
				color: colors.$gray-70;
				cursor: pointer;
			}

			&[data-selected="true"] {
				color: colors.$black;
				background: #f0f0f1;
				border-bottom: 1px solid #f0f0f1;
			}

			&[data-disabled="true"] {
				color: colors.$gray-20;
				cursor: not-allowed;
			}

			&[data-focus-visible="true"] {
				outline: 2px solid colors.$blue-40;
				outline-offset: 1px;
			}
		}

		.tabList,
		.tabPanel {
			padding-top: 5px;
		}
	}

}
