@use '../../scss/variables/colors';

.underlay {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	background: rgb(0 0 0 / 70%);
}

.modal {
	width: 100%;
	max-width: var(--wp-classic-dialog-max-width, 50vw);
	height: 100%;
	max-height: var(--wp-classic-dialog-max-height, 300px);
	overflow: auto;
	background: colors.$white;
	background-color: colors.$white;
	box-shadow: 0 5px 15px rgb(0 0 0 / 70%);

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.title {
		padding: 0 16px;
    margin: 0;
    font-size: 22px;
    line-height: 2.27;
	}
}
