@use '../../styles/mixins/input';

.root {
	@include input.styles();

	.items {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		margin-block: 0.25rem;
	}

	&[aria-readonly="true"] {
		:global(.wp-classic-Radio-root) {
			cursor: default;
		}
	}

	&[aria-orientation='horizontal'] {
		.items {
			gap: 1rem;
			flex-direction: row;
		}
	}
}
