@use '../../styles/mixins/input';

.root {
	@include input.styles;

	.items {
		display: flex;
		flex-direction: column;
		gap: 6px;
		margin-block: 2px;
	}

	&[aria-readonly="true"] {
		:global(.wp-classic-Radio-root),
		:global(.wp-classic-Radio-input) {
			cursor: default;
		}
	}

	&[aria-orientation='horizontal'] {
		.items {
			flex-direction: row;
			gap: 12px;
		}
	}
}
