@use './variables/colors' as colors;

/**
 * Ideally these colors color schemes should be pulled inherited directly from the WordPress color scheme files.
 * However, WordPress Sass files isn't designed for reusability due to the way it imports the entire `_admin`
 * file.
 */

:root {
	--wp-classic-highlight-color: #{colors.$highlight-color};
	--wp-classic-outline-color: var(--wp-classic-highlight-color);
	--wp-classic-invalid-color: #{colors.$invalid};
	--wp-classic-description-color: #{colors.$description};
	--wp-classic-body-background-color: #f1f1f1;
}

.admin-color-blue {
	--wp-classic-highlight-color: #096484;
}

.admin-color-coffee {
	--wp-classic-highlight-color: #c7a589;
}

.admin-color-ectoplasm {
	--wp-classic-highlight-color: #a3b745;
}

.admin-color-light {
	--wp-classic-highlight-color: #04a4cc;
	--wp-classic-body-background-color: #f5f5f5;

	body {
		background-color: var(--wp-classic-body-background-color);
	}
}

.admin-color-midnight {
	--wp-classic-highlight-color: #e14d43;
}

.admin-color-ocean {
	--wp-classic-highlight-color: #9ebaa0;
}

.admin-color-sunrise {
	--wp-classic-highlight-color: #dd823b;
}

.admin-color-modern {
	--wp-classic-highlight-color: #3858e9;
}
