@use '../../styles/variables/colors';

.root {
	width: max-content;
	max-width: 100%;
	display: flex;
	gap: 8px;

	.input[type="checkbox"] {
		margin: 0;
	}

	.description {
		color: colors.$description;
	}

	&[data-readonly="true"],
	.input:read-only {
		cursor: default;
	}

	&[data-disabled="true"],
	.input:disabled {
		cursor: not-allowed;
	}
}
