@use '../../styles/variables' as vars;

.root {

	.label {
		display: block;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}

	.description,
	.errorMessage {
		margin-top: 4px;
    margin-bottom: 0;
	}

	.description {
		color: #646970;
	}

	.errorMessage {
		color: vars.$color-danger;
	}

	.markedRequired {
		margin-inline-start: 4px;
		color: vars.$color-danger;
	}

	&[data-invalid="true"] {
		.input {
			border-color: vars.$color-danger;
			outline-color: vars.$color-danger;
			outline-width: 1px;
		};
	}
}
