/* stylelint-disable no-invalid-position-at-import-rule */
/* stylelint-disable selector-class-pattern */
@import '../wordpress/wp-admin/css/common.css';
@import '../wordpress/wp-admin/css/edit.css';
@import '../wordpress/wp-includes/css/dashicons.css';
@import '../wordpress/wp-includes/css/buttons.css';

.wp-core-ui {
	// Wrap form styles are global in a class to prevent them from affecting the Storybook UI.
	@import "../wordpress/wp-admin/css/forms";
}

.__wp-core-body__ {
	min-width: 600px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.4em;
	color: #3c434a;
	background: #f0f0f1;
}
