@use '../../styles/variables/colors';

@mixin styles-input() {
	&[data-invalid="true"] {
		.input {
			border-color: colors.$invalid;
			outline-width: 1px;
			outline-color: colors.$invalid;
		}
	}
}

@mixin styles-label() {
	.label {
		display: inline-block;
		grid-row: 1 / 2;
		width: max-content;
		margin-block-end: 6px;
		font-weight: 600;
		cursor: pointer;
	}

	.markedRequired {
		margin-inline-start: 0.25rem;
		color: colors.$invalid;
	}

	&[aria-disabled="true"] {
		.label {
			cursor: not-allowed;
		}
	}

	&[data-description-area="before-input"] {
		.label {
			margin-block-end: 0;
		}
	}
}

@mixin styles-description() {
	.description {
		grid-row: 4 / 5;
		margin-block: 6px 0;
		color: colors.$description;
	}

	&[data-description-area="before-input"] {
		.description {
			grid-row: 2 / 3;
			margin-block: 0 6px;
		}
	}
}

@mixin styles-error-message() {
	.errorMessage {
		grid-row: 3 / 4;
		margin-block: 6px 0;
		color: colors.$invalid;
	}
}

@mixin styles() {
	display: grid;
	grid-template-rows: max-content max-content 1fr max-content max-content;
	grid-template-columns: auto;

	@include styles-input;
	@include styles-label;
	@include styles-description;
	@include styles-error-message;
}
